<h1>Songs#index</h1>
<h2>Upload a new MP3</h2>  
<%= render 'form' %>
<h2>Upload a new track </h2>



<%= render 'jplayer'%>

<%= render 'playlist' %>
  
<section id="audio">  
</section>  
 
<h2>Hackatrain Radio Playlist</h2>  
<table>  
